*.cbp
*.depend
*.layout
*.cbTemp
*.suo
*.vcxproj.*
*.opensdf
*/*.vcxproj.*
*/vendor/*
*/[Bb]in
*/[Dd]ebug*/
*/[Rr]elease*/
*/*.cd
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug/
[Rr]elease*/
x64/
Vendor/zlib-*
Vendor/libpng-*
.idea/
